USE [master]
GO
/****** Object:  Database [NNT_RSSFEED]    Script Date: 06/28/2014 19:32:55 ******/
CREATE DATABASE [NNT_RSSFEED] ON  PRIMARY 
( NAME = N'NNT_RSSFEED', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\NNT_RSSFEED.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'NNT_RSSFEED_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\NNT_RSSFEED_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NNT_RSSFEED].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NNT_RSSFEED]
GO
/****** Object:  User [dbiuser]    Script Date: 06/28/2014 19:32:55 ******/
CREATE USER [dbiuser] FOR LOGIN [dbiuser] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[UserLog]    Script Date: 06/28/2014 19:32:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserLog](
	[Log_ID] [int] IDENTITY(1,1) NOT NULL,
	[Log_Date] [datetime] NULL,
	[Log_IP] [varchar](15) NULL,
	[Log_startLogin] [time](7) NULL,
	[Log_EndLogin] [time](7) NULL,
	[Mem_ID] [varchar](128) NULL,
 CONSTRAINT [PK_UserLog] PRIMARY KEY CLUSTERED 
(
	[Log_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[UserLog] ON
INSERT [dbo].[UserLog] ([Log_ID], [Log_Date], [Log_IP], [Log_startLogin], [Log_EndLogin], [Mem_ID]) VALUES (1, CAST(0x0000A35000C68A90 AS DateTime), N'::1', CAST(0x0700FEB9FB640000 AS Time), NULL, NULL)
INSERT [dbo].[UserLog] ([Log_ID], [Log_Date], [Log_IP], [Log_startLogin], [Log_EndLogin], [Mem_ID]) VALUES (2, CAST(0x0000A35000C736D4 AS DateTime), N'::1', CAST(0x0780695853650000 AS Time), CAST(0x0700DBC8E4670000 AS Time), N'2000200117')
INSERT [dbo].[UserLog] ([Log_ID], [Log_Date], [Log_IP], [Log_startLogin], [Log_EndLogin], [Mem_ID]) VALUES (3, CAST(0x0000A35000CD2B70 AS DateTime), N'::1', CAST(0x070042CD5A680000 AS Time), CAST(0x0780A20097680000 AS Time), N'2000200117')
SET IDENTITY_INSERT [dbo].[UserLog] OFF
/****** Object:  Table [dbo].[Main_RSS]    Script Date: 06/28/2014 19:32:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Main_RSS](
	[Main_RssID] [int] IDENTITY(1,1) NOT NULL,
	[Main_RssID_Encode] [varchar](128) NULL,
	[Main_UserID] [varchar](128) NULL,
	[Main_Date] [datetime] NULL,
	[Main_CountNews] [int] NULL,
	[Main_StatusVDO] [varchar](5) NULL,
	[Main_StatusVoice] [varchar](5) NULL,
	[Main_StatusPicture] [varchar](5) NULL,
	[Main_StatusOther] [varchar](5) NULL,
 CONSTRAINT [PK_Main_RSS] PRIMARY KEY CLUSTERED 
(
	[Main_RssID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Main_RSS] ON
INSERT [dbo].[Main_RSS] ([Main_RssID], [Main_RssID_Encode], [Main_UserID], [Main_Date], [Main_CountNews], [Main_StatusVDO], [Main_StatusVoice], [Main_StatusPicture], [Main_StatusOther]) VALUES (1, NULL, N'user1', CAST(0x0000A34800D97718 AS DateTime), 20, N'true', N'true', N'true', N'true')
INSERT [dbo].[Main_RSS] ([Main_RssID], [Main_RssID_Encode], [Main_UserID], [Main_Date], [Main_CountNews], [Main_StatusVDO], [Main_StatusVoice], [Main_StatusPicture], [Main_StatusOther]) VALUES (2, NULL, N'user1', CAST(0x0000A34800D9B084 AS DateTime), 20, N'true', N'true', N'true', N'true')
INSERT [dbo].[Main_RSS] ([Main_RssID], [Main_RssID_Encode], [Main_UserID], [Main_Date], [Main_CountNews], [Main_StatusVDO], [Main_StatusVoice], [Main_StatusPicture], [Main_StatusOther]) VALUES (3, N'eccbc87e4b5ce2fe28308fd9f2a7baf3', N'user1', CAST(0x0000A34800D9E414 AS DateTime), 20, N'false', N'true', N'true', N'false')
SET IDENTITY_INSERT [dbo].[Main_RSS] OFF
/****** Object:  Table [dbo].[Detail_RSS]    Script Date: 06/28/2014 19:32:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Detail_RSS](
	[Detail_RssID] [int] IDENTITY(1,1) NOT NULL,
	[Main_RssID] [int] NULL,
	[Detail_NewsID] [varchar](20) NULL,
	[Detail_CatagoryID] [int] NULL,
	[Detail_SubCatagoryID] [int] NULL,
 CONSTRAINT [PK_Detail_RSS] PRIMARY KEY CLUSTERED 
(
	[Detail_RssID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Detail_RSS] ON
INSERT [dbo].[Detail_RSS] ([Detail_RssID], [Main_RssID], [Detail_NewsID], [Detail_CatagoryID], [Detail_SubCatagoryID]) VALUES (1, 1, N'TNPBH5610110010027', 12, 0)
INSERT [dbo].[Detail_RSS] ([Detail_RssID], [Main_RssID], [Detail_NewsID], [Detail_CatagoryID], [Detail_SubCatagoryID]) VALUES (2, 2, N'TNPBH5610110010027', 12, 0)
INSERT [dbo].[Detail_RSS] ([Detail_RssID], [Main_RssID], [Detail_NewsID], [Detail_CatagoryID], [Detail_SubCatagoryID]) VALUES (3, 3, N'TNDAT5610160010008', 10, 0)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
SET IDENTITY_INSERT [dbo].[Detail_RSS] OFF
